[guild]
guild_id = 1
staff_role_id = 3

[verify]
captcha_default_permission = "MANAGE_GUILD"
verify_role_id = 2

[pokemon]
max_retry = 5
time_limit = "5 minutes"

[greeter]
channel_id = 1000000000000000000